p{
    border: 2px  solid rgb(59, 112, 186);
    outline-color: rgb(49, 151, 122);
    outline-style:groove;
    outline-width: 8px;
}

h2{
    letter-spacing: 5px;
    font-style:normal;
}
@media screen and (min-width:300px) {
    body {
        background-color: rgb(18, 237, 179);
    } 
}

ul{ /*  bullet style*/
    list-style-type: square;
}
ol{
    list-style:lower-alpha;
}

h3 {
    border-bottom: 3px dashed rgb(238, 10, 223);
    position:fixed;
    position:static;
}

div {
    width:auto;
    border: 2px solid rgb(255, 4, 4);
    margin: 5px;
    display:contents;
    text-align: center;
    background-color: rgb(241, 171, 241);
}

div.relative {
    position: relative;
    left: 10px;
    border: 4px solid #183b5e;
  }

div.static {
    position: static;
    left: 10px;
    border: 5px solid #c7bbe7;
  }